asn1crypto==0.23.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.2
dj-database-url==0.4.2
Django==1.11.4
django-cors-headers==2.1.0
django-filter==1.1.0
django-paypal==0.4.1
djangorestframework==3.6.3
enum34==1.1.6
idna==2.6
ipaddress==1.0.18
paypalrestsdk==1.13.1
psycopg2==2.7.3.2
pycparser==2.18
pyOpenSSL==17.3.0
python-decouple==3.1
pytz==2017.2
requests==2.18.4
six==1.11.0
urllib3==1.22
whitenoise==3.3.1
